{% extends 'base.html.twig' %}

{% block title %}{{project_name}} | Dashboard{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ app.user.username }}</h1>
</div>
{% endblock %}
